* {
  padding: 0%;
  margin: 0%;
  background-color: #191919;
}

@font-face {
  font-family: "k2d-bold";
  src: url("./fonts/K2D-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "lato-bold";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
}


.k2d{
  font-family: "k2d-bold";
}
/* Nav bar styles */
.logo {
  font-size: 30px;
  font-family: "k2d-bold";
  background: -webkit-linear-gradient(left, #fa6e00, #e60026);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus {
  font-size: 20px;
  font-family: "lato-bold";
  display: flex;
  list-style-type: none;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menus a {
  text-decoration: none;
}

.menus a:hover {
  color: #e46400;
}

.menus a {
  position: relative;
  text-decoration: none;
  color: #959595;
}
.menus a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e60026;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.menus a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#btn {
  font-family: "lato-bold";
  border: none;
  font-size: 16px;
  background-color: #fd6f00;
  color: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

#btn:hover {
  border-radius: 8px;
  background-color: #e46400;
}

/* Body crousal styles */
.body {
  font-family: "lato-bold";
  display: flex;
}
.rev {
  border-radius: 5px;
  background-color: rgba(84, 86, 87, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 25px;
  width: 534px;
  justify-content: center;
  align-items: center;
  height: 125px;
  margin-top: 70px;
}

.left {
  margin-top: 120px;
  flex: 1;
  padding: 20px;
  font-family: "k2d-bold";
}

.right {
  flex: 1;
  padding: 20px;
}

.text {
  background-color: rgba(84, 86, 87, 0.2);
  backdrop-filter: blur(10px);
  font-family: "lato-bold";
  font-size: 24px;
  color: #bababa;
}
.h {
  color: #fd6f00;
}

.rev1 {
  padding-right: 25px;
  border-right: 2px solid gray;
}

#h5 {
  font-size: 18px;
  color: #959595;
}

#h4 {
  font-size: 28px;
  color: #959595;
}

#h1 {
  font-size: 70px;
  background: -webkit-linear-gradient(top, #984300, #fd6f00, #ca5900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;

}

#download {
  font-family: "lato-bold";
  border: none;
  font-size: 16px;
  background-color: #fd6f00;
  color: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

#download:hover {
  border-radius: 8px;
  background-color: #e46400;
}

.services{
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "lato-bold";
}

.heading{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #fd6f00;
}

.grid{
  display: grid;
  gap: 50px;
  margin-top: 20px;
  justify-content: center;
  grid-template-columns:  auto auto auto auto;
}

.grid div { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 200px;
  background-color: rgba(146, 152, 155, 0.2);
  backdrop-filter:unset;
  border-radius: 20px;
}

#logos{
  background-color: rgba(47, 164, 223, 0);
  backdrop-filter: blur(10px);
  color: #575757;
}