* {
  padding: 0%;
  margin: 0%;
  background-color: #191919;
}

@font-face {
  font-family: "k2d-bold";
  src: url("./fonts/K2D-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "lato-bold";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
}

.k2d {
  font-family: "k2d-bold";
}
/* Nav bar styles */
.logo {
  font-size: 30px;
  font-family: "k2d-bold";
  background: -webkit-linear-gradient(left, #fa6e00, #e60026);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus {
  font-size: 20px;
  font-family: "lato-bold";
  display: flex;
  list-style-type: none;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menus a:hover {
  color: #e46400;
}

.menus a {
  position: relative;
  text-decoration: none;
  color: #959595;
}
.menus a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e60026;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.menus a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#btn {
  font-family: "lato-bold";
  border: none;
  font-size: 16px;
  background-color: #fd6f00;
  color: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

#btn:hover {
  border-radius: 8px;
  background-color: #e46400;
}

/*  crousal styles */
.body {
  font-family: "lato-bold";
  display: flex;
}
.rev {
  border-radius: 5px;
  background-color: rgba(84, 86, 87, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 25px;
  width: 534px;
  justify-content: center;
  align-items: center;
  height: 125px;
  margin-top: 70px;
}
.rev:hover {
  box-shadow: 1px 1px 40px 1px white;
}

.left {
  margin-top: 120px;
  flex: 1;
  padding: 20px;
  font-family: "k2d-bold";
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-border {
  background-color: rgba(109, 102, 102, 0.2);
  border-radius: 50%;
  height: 90%;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.profile {
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
}

.text {
  background-color: rgba(84, 86, 87, 0.2);
  backdrop-filter: blur(10px);
  font-family: "lato-bold";
  font-size: 24px;
  color: #bababa;
}
.h {
  color: #fd6f00;
}

.rev1 {
  padding-right: 25px;
  border-right: 2px solid gray;
}

#h5 {
  font-size: 18px;
  color: #959595;
}

#h4 {
  font-size: 28px;
  color: #959595;
}

#h1 {
  font-size: 70px;
  background: -webkit-linear-gradient(top, #984300, #fd6f00, #ca5900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.icons img {
  background-color: transparent;
}

.icons img:hover {
  background-color: transparent;
  box-shadow: 1px 1px 100px 10px #ffffff;
}

#download {
  font-family: "lato-bold";
  border: none;
  font-size: 16px;
  background-color: #fd6f00;
  color: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

#download:hover {
  border-radius: 8px;
  background-color: #e46400;
  box-shadow: 2px 2px 100px 1px #e46400;
}

.services {
  margin-top: 20px;
  margin-bottom: 80px;
  font-family: "lato-bold";
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #fd6f00;
  font-family: "lato-bold";
}

.grid {
  display: grid;
  gap: 50px;
  margin-top: 20px;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}

.grid div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 200px;
  background-color: #92989b33;
  backdrop-filter: unset;
  border-radius: 20px;
}

#logos {
  background-color: rgba(47, 164, 223, 0);
  backdrop-filter: blur(10px);
  color: #575757;
}

.content {
  display: flex;
}

.left-cont {
  flex: 1;
}

.right-cont {
  padding-top: 50px;
  flex: 1;
}

#p {
  margin-right: 50px;
  color: #575757;
  margin-bottom: 30px;
  font-family: "k2d-bold";
}

.footer {
  margin-top: 15%;
  border-top: 1px solid white;
  width: auto;
}

.h1 {
  font-family: "k2d-bold";
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(left, #fa6e00, #e60026);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  margin-bottom: 20px;
}

.ul {
  color: #959595;
  font-family: "lato-bold";
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ul li {
  text-decoration: none;
  list-style-type: none;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-ico {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footer-ico a:hover {
  box-shadow: 1px 1px 60px 20px red;
}

.div {
  margin-left: 500px;
  margin-right: 500px;
  border: 1px solid #3c3e3e;
}

.footers {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: #959595;
}

#footer-links {
  text-decoration: none;
  color: #959595;
}
#footer-links:hover {
  text-decoration: underline;
  color: #7ad028;
  background: none;
  box-shadow: 1px 1px 30px 2px #7ad028;
}

#html:hover {
  box-shadow: 1px 1px 100px 10px #fd6f00;
}

#css:hover {
  box-shadow: 1px 1px 100px 10px #0033cc;
}

#js:hover {
  box-shadow: 1px 1px 100px 10px #ffcc00;
}

#ts:hover {
  box-shadow: 1px 1px 100px 10px #3333ff;
}
#java:hover {
  box-shadow: 1px 1px 100px 10px #ff3300;
}
#react:hover {
  box-shadow: 1px 1px 100px 10px #3b3b3b;
}
#node:hover {
  box-shadow: 1px 1px 100px 10px #33cc00;
}
#express:hover {
  box-shadow: 1px 1px 100px 10px #bcbbbb;
}
#mongodb:hover {
  box-shadow: 1px 1px 100px 10px #36db51;
}
#php:hover {
  box-shadow: 1px 1px 100px 10px #1a8cff;
}
#mysql:hover {
  box-shadow: 1px 1px 100px 10px #fd6f00;
}
#git:hover {
  box-shadow: 1px 1px 100px 10px #373432;
}

.about {
  margin-bottom: 250px;
}

.project {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin: 20px;
}

.project div {
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project div img {
  border-radius: 20px 20px 0px 0px;
}

.project div p {
  width: 341px;
  background-color: #292929;
  color: #c6c6c6;
  padding: 5px;
  border-radius: 0px 0px 20px 20px;
  font-family: "k2d-bold";
  font-size: 15px;
}

.project div p a {
  text-decoration: none;
  background-color: #292929;
  color: #959595;
  font-size: 20px;
  font-family: "k2d-bold";
  position: relative;
}

#link-project {
  position: relative;
  text-decoration: none;
  color: #959595;
}

#link-project::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e60026;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#link-project:hover {
  color: #e60026;
}

#link-project:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project div:hover {
  box-shadow: 1px 1px 30px 10px rgb(154, 136, 136);
}

.contacts {
  margin-top: 150px;
  margin-bottom: 100px;
}
.contact {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.contact input {
  height: 10px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 20px;
  color: white;
}

#textarea {
  border-radius: 5px;
  padding: 20px;
  color: white;
}

.send {
  width: 40px;
  margin-top: 50px;
}

@media (max-width: 450px) {
  * {
    width: auto;
  }
  .nav {
    width: auto;
  }
  .menus {
    display: none;
  }
  /* Body section */
  .rev {
    display: flex;
    width: auto;
    margin-bottom: 15%;
  }
  /* This is skills section */
  .grid {
    display: grid;
    grid-template-columns: auto;
  }
  /* This is about section */

  .about{
    margin: 0%;
    margin-bottom:2%;
  }
  .right-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #p{
    margin-left: 50px;
    margin-bottom: 5%;
  }

  /* this is projects section */

  .projects{
    margin: 0%;
    margin-top: 15%;
  }
  .project {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10%;
    width: auto;
  }

  #prj img{
    height: 450px;
    width: 300px;
  }

  #prj p{
    width: 300px;
  }
  /* this is contact's section */
  .contacts {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .contact{
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  .send{
    margin: 0%;
  }
  .contact input {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 300px;
  }

  #textarea{
    margin: 0%;
    width: 300px;
  }

  .content a{
    margin: 0%;
    padding: 0%;
  }
  .left-cont {
    display: none;
  }
  .ul {
    display: block;
  }
  .footer-ico {
    display: block;
  }
  .right {
    display: none;
  }

  /* footer section */
  .footer{
    width: auto;
    margin: 0%;
  }
  .h1{
    margin: 0%;
  }
  .ul{
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .footer-icons{
    margin: 10%;
    width: auto;
  }

  .footer-ico{
    margin: 0%;
    display: flex;
  }

  .div{
    display: none;
  }
}